@mixin myRings ($size, $color: #ffe320) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: none;
  border: solid $size/10 $color;
}

@for $i from 1 through 6 {

  .ring-#{$i} {
    @include myRings( 200px - $i * 20px, grey);
    position: absolute;
    left: 60% - 3.33 * $i;
  }
}

.theOne {
  @include myRings(150px);
}

.orangeRing {
  @include myRings( 75px, orange);
}
